# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.next/
# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/
